/* Specifying the width of each bar*/
:root {
  --bar-width: 6.8%;
}

#title-text {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  font-family: helvetica;
  font-size: 1.5rem;
}

#value-cap {
  padding-top: 18px;
  font-weight: bold;
  font-family: helvetica;
  font-size: 1rem;
  color: springgreen;
  text-align: center;
}

#percentile-cap {
  padding-top: 30px;
  font-weight: bold;
  font-family: helvetica;
  font-size: 1rem;
  color: darkorchid;
  text-align: center;
}

/* Styling the chart boxes*/
.chart-box {
  border: 1px solid darkslategray;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto 15%;
  margin-top: 20px;
  height: 350px;
  background-color: #ffa6003d;
  /* padding-top: 105px; */
  padding-left: 3px;
  align-items: flex-end;
}

/* Styling each value bar in the charts*/
.value-bars {
  width: var(--bar-width);
  background-color: springgreen;
  margin-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

/* Styling each percentile bar in the charts*/
.percentile-bars {
  width: var(--bar-width);
  background-color: darkorchid;
  margin-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}
