/*for the body*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: #FFEBCD;
    
}

h1{
    text-align: center;
    text-decoration: underline;
    color: #DCDCDC;

}

/*main page*/

.container {
    display: block;
    box-sizing: content-box;
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}
/* bar chart area*/

.items {
    text-align: center;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 40px);
    grid-auto-flow: column;
    grid-gap: 10px;
    align-items: flex-end;
    padding: 0 40px 0 10px;
    border-bottom: 4px solid #DCDCDC;
    border-left: 4px solid #DCDCDC;
}

/* This contains the bar charts*/

.items-bottom {
    text-align: center;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 40px);
    grid-auto-flow: column;
    grid-gap: 10px;
    align-items: flex-start;
    padding: 5px 40px 0 10px;
}

.items-bottom > div > p {
    color: black;
    margin: 0;
}

.items > div > p {
    color: black;
    transform-origin: 70% 100%;
    transform: rotate(-90deg);
    white-space: nowrap;
   
}

.items > .item {
    height: 39.32%;
    background: #F5F5DC;
}

.month-sale {
    position: absolute;
    top: 7px;
    left: 20px;
}

.month-sale > h3 {
    color: black;
    margin: 0;
}