.grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.grid div {
    height: 50px;
    width: 50px;
}

.checked {
    background-color: purple;
}

.Failed {
    background-color: aqua;
}