html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  background-color: hsl(0, 0%, 95%);
}

.main-container {
  border-radius: 2px;
  padding: 12px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  display: block;
  border: 0;
  width: auto;
  height: auto;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
