* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  justify-content: center;
  align-items: middle;
}
body {
  margin: 0;
  background-color: hsl(0, 0%, 95%);
  padding: 0.1em;
  font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/*--------------------------------------------------------------
Header styles
--------------------------------------------------------------*/

.main-header {
  padding: 1em 0;
  background-color: #002254;
}

.brand {
  /* padding: 70px 0; */
  text-align: center;
  border: "0.5rem solid pink";
}
.site-title a {
  text-decoration: none;
  color: #fff;
}

.about-main {
  display: flex;
}

.about-header {
  text-align: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-fig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-fig img {
  display: block;
  border: 0;
  width: 80%;
  height: 80%;
}

.main-container {
  border-radius: 2px;
}

.branches-header {
  padding: 0.5em 0.5em;
  background-color: #b51c35;
  text-align: center;
  border: "0.5rem solid pink";
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.branches img {
  width: 400px;
  height: 300px;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 3em auto 2em;
  padding: 0;
  justify-content: center;
}

.country h3 {
  text-align: center;
}

dd a {
  text-decoration: none;
  line-height: 1.6em;
  color: #000;
}

dd a:hover {
  color: #002254;
}
dd a:active {
  color: green;
}

.menus::before {
  display: block;
  height: 4em;
  content: "";
  background: #002254 url("../images/square_bg.svg") repeat;
}

.menus h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.menus img {
  width: 400px;
  height: 300px;
}

.menu-img a {
  text-decoration: none;
  text-align: center;
  color: #000;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 3em auto 2em;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.contact-us {
  justify-content: center;
  text-align: center;
}

.contact-us-header {
  background-color: #b51c35;
  text-align: center;
  color: #fff;
  padding: 1em 0;
}
.contact-us aside,
figcaption,
figure,
footer,
header,
main,
section {
  display: block;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="text"],
select,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #002254;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.msg {
  margin-left: 4%;
}
a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

blockquote {
  margin: 0 1.5em;
}

.rating {
  text-align: center;
}
.footer {
  padding: 3em 3em 0;
  background: hsl(0, 0%, 10%);
  color: #fffced;
}
.ceomessage {
  background-color: hsl(0, 0%, 10%);
  color: #fffced;
}

.footer-link {
  background-color: #b51c35;
  text-align: center;
  color: #fff;
  padding: 1em 0;
  width: 200%;
}

.footer-link a {
  text-decoration: none;
  color: #f2f2f2;
}
