.title {
  text-align: center;
}

body {
  background: gray;
  color: black;
}

.box {
	border: 4px solid black;
	position: relative;
	margin: auto;
	display: block;
  /*optional background or border*/
	margin-top: 4%;
	width: 650px;
	height: 450px;
	background: none;
}


.num-bar {
  position: absolute;
  top: 1%;
  left: 98%;
  width: 1%;
  height: 100%;
  background: black;
}

.num-bar-10 {
  position: absolute;
  top: 90%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: red;
}

.num-bar-20 {
  position: absolute;
  top: 80%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: pink;
}



.num-bar-30 {
  position: absolute;
  top: 70%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: yellow;
}

.num-bar-40 {
  position: absolute;
  top: 60%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: yellow;
}

.num-bar-50 {
  position: absolute;
  top: 50%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: yellow;
}

.num-bar-60 {
  position: absolute;
  top: 40%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: yellow;
}

.num-bar-70 {
  position: absolute;
  top: 30%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: blue;
}

.num-bar-80 {
  position: absolute;
  top: 20%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: green;
}

.num-bar-90 {
  position: absolute;
  top: 10%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: green;
}

.num-bar-100 {
  position: absolute;
  top: 0%;
  left: -25%;
  width: 160%;
  height: 1%;
  background: green;
}

.graph-1 {
  position: absolute;
  top: 70%;
  left: 0%;
  width: 6%;
  height: 30%;
  background: linear-gradient(180deg, rgba(128, 222, 234, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-1 3s 1;
}

.graph-2 {
  position: absolute;
  top: 70%;
  left: 8%;
  width: 6%;
  height: 30%;
  background: linear-gradient(180deg, rgba(128, 222, 234, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-1 3s 1;
}

.graph-3 {
  position: absolute;
  top: 50%;
  left: 16%;
  width: 6%;
  height: 50%;
  background: linear-gradient(180deg, rgba(38, 198, 218, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-2 5s 1;
}

.graph-4 {
  position: absolute;
  top: 20%;
  left: 24%;
  width: 6%;
  height: 80%;
  background: linear-gradient(180deg, rgba(0, 151, 167, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-3 8s 1;
}

.graph-5 {
  position: absolute;
  top: 0%;
  left: 32%;
  width: 6%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 96, 100, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-4 10s 1;
}

.graph-6 {
  position: absolute;
  top: 65%;
  left: 40%;
  width: 6%;
  height: 35%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-5 2s 1;
}
.graph-7 {
  position: absolute;
  top: 70%;
  left: 48%;
  width: 6%;
  height: 30%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-5 2s 1;
}
.graph-8 {
  position: absolute;
  top: 80%;
  left: 56%;
  width: 6%;
  height: 20%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-5 2s 1;
}
.graph-9 {
  position: absolute;
  top: 70%;
  left: 64%;
  width: 6%;
  height: 30%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-5 2s 1;
}
.graph-10 {
  position: absolute;
  top: 80%;
  left: 72%;
  width: 6%;
  height: 20%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-5 2s 1;
}
.graph-11 {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 6%;
  height: 20%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-5 2s 1;
}
.graph-12 {
  position: absolute;
  top: 80%;
  left: 88%;
  width: 6%;
  height: 20%;
  background: linear-gradient(180deg, rgba(178, 235, 242, 0.6) 0%, rgba(224, 247, 250, 0.6) 100%);
  animation: graph-5 2s 1;
}
@keyframes graph-1 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 30%;
  }
}
@keyframes graph-2 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 50%;
  }
}
@keyframes graph-3 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 80%;
  }
}
@keyframes graph-4 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 100%;
  }
}
@keyframes graph-5 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 20%;
  }
}
@keyframes graph-6 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 20%;
  }
}
@keyframes graph-7 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 20%;
  }
}
@keyframes graph-8 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 20%;
  }
}
@keyframes graph-9 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 20%;
  }
}
@keyframes graph-10 {
  0% {
    height: 0%;
    top: 100%;
  }
  100% {
    height: 20%;
  }
}

