/*
Page layout for a horizontal bar chart is given bellow
*/
#bar_chart{
    grid-area: bar_chart;
    display: grid;
    background-color: aliceblue;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 10px;
    grid-template-areas: "Jan_label Jan"
                         "Feb_label Feb" 
                         "Mar_label Mar"
                         "Apr_label Apr"
                         "May_label May"
                         "Jun_label Jun"
                         "Jul_label Jul"
                         "Aug_label Aug"
                         "Sep_label Sep"
                         "Oct_label Oct"
                         "Nov_label Nov"
                         "Dec_label Dec";
                      
   
}