/*
Page layout is given bellow
*/

#container{
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 5vh 10vh 70vh 10vh 5vh;
    grid-template-areas: "... ... ... "
                        "... chart_title  ..."
                        "...  bar_chart ..."
                        "...  options ..."
                        "... ... ...";
}
#chart_title{
    grid-area:chart_title;
    text-align: center;
}
#options{
    grid-area:options;
    text-align: center;
}