/*
Page layout for a vertical bar chart is given bellow
*/
#bar_chart{
    grid-area: bar_chart;
    display: grid;
    background-color: aliceblue;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6fr 1fr;
    column-gap: 10px;
    grid-template-areas: "Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec"
                         "Jan_label Feb_label Mar_label Apr_label May_label Jun_label Jul_label Aug_label Sep_label Oct_label Nov_label Dec_label";
   
}


 