/*Styling the chart*/
.monthSales {
	border: 2px solid black;
	position: relative;
	margin: auto;
	display: block;
	margin-top: 4%;
	height: 450px;
	width: 720px;
	background: none;
}


/*Styling the individual sales bars*/

.bar {
	position: absolute;
	width: 40px;
	height: 100px;
	border: 1px solid black;
	float: left;
	bottom: 25px;
	font-size: 10px;
	margin-left: 10px;
	animation: bar 15s infinite;
}
.bar {
	position: absolute;
	width: 40px;
	height: 90px;
	border: 1px solid green;
	float: left;
	bottom: 25px;
}

/*Animating the bars*/
@keyframes bar {
  0% {
    height: 80%;
  }
  0% {
    height: 80%;
  }
}
/*Styling the Months*/
.months {
	position: absolute;
	width: 40px;
	height: 20px;
	bottom: 0;
	margin-left: 10px;
}


.chat {
	position: relative;
	height: 200px;
}


/*Styling the percentage bar*/
.percentagegrade {
	position: absolute;
	left: 90%;
	width: 1%;
	height: 100%;
	background: black;
}

.tenpercentgrade {
	position: absolute;
	top: 90%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(255, 0, 0);
}
.twentypercentgrade {
	position: absolute;
	top: 80%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(255, 64, 0);
}
.thirtypercentgrade {
	position: absolute;
	top: 70%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(255, 128, 0);
}
.fourtypercentgrade {
	position: absolute;
	top: 60%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(255, 191, 0);
}
.fiftypercentgrade {
	position: absolute;
	top: 50%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(255, 255, 0);
}
.sixtypercentgrade {
	position: absolute;
	top: 40%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(191, 255, 0);
}
.seventypercentgrade {
	position: absolute;
	top: 30%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(191, 255, 0);
}
.eightypercentgrade {
	position: absolute;
	top: 20%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(128, 255, 0);
}
.ninetypercentgrade {
	position: absolute;
	top: 10%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(64, 255, 0);
}
.hundredpercentgrade {
	position: absolute;
	top: 0%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: rgb(0, 255, 0);
}

/*Styling the button*/
button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	transition-duration: 0.5s;
	cursor: pointer;
	background-color: white; 
	color: black; 
	border: 2px solid black;
	border-radius: 3px;
}
button:hover {
	background-color: black;
	color: white;
	border: green;
	border-radius: 10px;
	cursor: grab;
}
