.outer {
    padding: 10px;
        
}
.azubi {
    color: white;
    background-color: green;
}
    
.container {
    margin: 1px;
}
footer{
    background-color: rgb(147, 235, 125);
    color: black;   
    padding: 1px; 
}
.imge {
    margin-left: 40px;
}
.nt {
    margin-left: 320px;
}
.branches {
    margin-left: 300px;
}
.os {
    margin-left: 100px;
}
.o1 {
    margin-left: 80px;
}
.o2 {
    margin-left: 80px;
}
.o3 {
    margin-left: 80px;
}
.menu {
    margin-left: 300px;
}
.n {
    text-align: center;
}
.dent {
    margin-left: 100px;
}
.tish {
    margin-left: 100px;
}
.snt {
    margin-left: 100px;
}
.so {
    margin-left: 100px;
}
.hr {
    margin-left: 100px;
}
.her {
    margin-left: 100px;
}
.kho {
    margin-left: 100px;
}
.menus {
    margin-left: 300px;
}
.cont {
    margin-left: 300px;
}

.mes {
    margin-left: 300px;
}
.oduro {
    margin-left: 120px;
}
.bout {
    margin-left: 90px;
}