#container{
  position: relative;
  width: auto;
  height: 500px;
}

.bar{
  position: absolute;
  width: 70px;
  height: 30px;
  border: 1px solid black;
  background-color: aqua;
  float: left;
  bottom: 0;
} 

.months{
  position: absolute;
  width: 70px;
  height: 0;
  float: left;
  bottom: 0;
} 