.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: coral;
}

.grid div {
  height: 38px;
  width: 38px;
  margin: 1px;
  background-color: #1e1e1e;
}

.fail {
  font-weight: bold;
  font-family: helvetica;
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  color: white;
}

.win {
  font-weight: bold;
  font-family: helvetica;
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  color: olive;
}

#title-text {
  font-weight: bold;
  font-family: helvetica;
}

#win-count {
  font-weight: bold;
  font-family: helvetica;
  color: darkgreen;
}

#fail-count {
  font-weight: bold;
  font-family: helvetica;
  color: darkred;
}

.footer {
  font-weight: bold;
  font-family: helvetica;
  text-align: right;
  color: #151515;
  font-size: 0.7rem;
}
